<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homnifi</title>
    <style type="text/css">
    @media (prefers-color-scheme: dark) {
        .darkmode { background-color: #1e1e1e !important; }
        .darkmode p { color: #ffffff !important; }
    }
    </style>
  </head>
  <body
    style="margin: 0;font-family:'Rubik', sans-serif;background:#ffffff;font-size: 14px;"
  >
    <div
      style="
        max-width: 680px;
        margin: 0 auto;
        padding: 8px 10px 60px;
        background: #f8f8f8;
        background-repeat: no-repeat;
        background-size: 800px 352px;
        background-position: top center;
        background-image: url('https://storage.googleapis.com/softbuilder/homnifi/img/bg.jpeg');
        color: #434343;
        border: 1px solid #ffffff;
        position: relative;
        z-index: 1;
      "
    >
     <header style="position: relative; text-align: center; padding: 20px;">
    <div style="display: flex; align-items: center; justify-content: start; top: 10px; left: 10px;">
    <img
      alt=""
      src="https://storage.googleapis.com/softbuilder/homnifi/img/homnifi.png"
      height="30px"
      style="margin-right: 10px;"
    />
  </div>
  <div style="background-color: rgba(255, 255, 255, 0.5); max-width: 575px; padding: 15px; margin: 20px auto; margin-bottom: 0px; border-radius: 10px;">
    <h1 style="font-size: 30px; font-weight: bold; margin: 10px 0; color: #333333; word-wrap: break-word;">{{headerTitle}}</h1>
    <p class="darkmode" style="font-size: 18px; margin: 0; color: #333333; word-wrap: break-word;">{{headerMessage}}</p>
</div>
</header>
