{{>header}}
<div style="font-family: 'Rubik', sans-serif; background-color: #DEF7FF; padding: 20px 0px; width: 100%; max-width: 600px; margin: 25px auto 0; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 15px;">
  <div style="padding: 20px; background-color: #DEF7FF; align-items: start; text-align: left;">
    <div class="text" style="padding: 0 2.5em;">
        <h1>Hi {{name}},</h1>
        <h2>To complete your login, please enter the OTP sent to your registered email.</h2>
        <p>Your One-Time Password (OTP) is:</p>
        <div style="font-size: 24px; font-weight: bold; margin: 20px 0; color: #2431CB;">{{otp}}</div>
        <p>If you didn't request this, please ignore this message.</p>
    </div>
  </div>
</div>
{{>footer}}