{{>header}}
<div style="font-family: 'Rubik', sans-serif; background-color: #DEF7FF; padding: 20px 0px; width: 100%; max-width: 600px; margin: 25px auto 0; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 15px;">
  <div style="padding: 20px; background-color: #DEF7FF; align-items: start; text-align: left;">
    <div class="text" style="padding: 0 2.5em;">
        <h1>Hi {{name}},</h1>
        <h2>Your super admin account has been created on Hominify. You need to set new Password using following link.</h2>
        <a href="{{passwordUrl}}">Create Password</a>
        
    </div>
  </div>
</div>
{{>footer}}