{{>header}}
<div class="text" style="padding: 0 2.5em;">
    <h1>Hi {{name}},</h1>
    <h2>Please click on below button to reset your password.</h2>
    <a href="{{link}}">
        <button type="button" style="background-color: #2431CB; color: white; padding: 10px">Reset Password</button>
    </a>
</div>
{{>footer}}

