{{>header}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div
            style="
                font-family: 'Rubik', sans-serif;
                background-color: #def7ff;
                padding: 20px 0px;
                width: 100%;
                max-width: 600px;
                margin: 25px auto 0;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                border-radius: 15px;
            "
        >
            <div
                style="
                    padding: 20px;
                    background-color: #def7ff;
                    text-align: left;
                "
            >
                <p style="font-size: 24px; font-weight: bold">
                    Dear {{userName}},
                </p>
                <p style="font-weight: bold">Welcome to Homnifi!</p>
                <p style="font-size: 16px">
                    We are delighted to welcome you to Homnifi, where the future
                    of Web3 and decentralized finance comes to life. You are now
                    part of an evolving ecosystem designed to empower you with
                    cutting-edge tools and resources to optimize your digital
                    experience.
                </p>

                <div>
                    <span style="font-weight: 700;">
                        Here are a few steps to get you started:</span
                    >
                </div>

                <div
                    style="
                        background-color: #def7ff;
                        padding: 15px;
                        margin: 20px 0;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                    "
                >
                    <div
                        style="
                            flex-basis: 100%;
                            max-width: 150px;
                            margin-right: 20px;
                        "
                    >
                        <img
                            src="https://storage.googleapis.com/softbuilder/homnifi/img/email/welcome_step_1.png"
                            alt="Token Image"
                            style="width: 140px; border-radius: 10px"/>
                    </div>
                    <div style="flex-grow: 1">
                        <p style="margin: 5px 0; font-size: 16px">
                            <strong>SET UP YOUR ACCOUNT</strong>
                        </p>

                        <p style="margin: 5px 0; font-size: 16px">
                            Begin by visiting to complete
                            your account setup. Ensure your account is secure by
                            setting a robust password and enabling two-factor
                            authentication.
                        </p>
                    </div>
                </div>

                <div
                style="
                    background-color: #def7ff;
                    padding: 15px;
                    margin: 20px 0;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                "
            >
                
                <div style="flex-grow: 1">
                    <p style="margin: 5px 0; font-size: 16px; text-transform: uppercase;">
                        <strong>Explore Our Features</strong>
                    </p>

                    <p style="margin: 5px 0; font-size: 16px">
                        Discover the power of Web3 and decentralized applications. Our intuitive platform simplifies your interactions, making it easy to navigate and utilize various features.
                    </p>
                </div>
                <div
                    style="
                        flex-basis: 100%;
                        max-width: 150px;
                        margin-right: 20px;
                    "
                >
                    <img
                        src="https://storage.googleapis.com/softbuilder/homnifi/img/email/welcome_step_2.png"
                        alt="Token Image"
                        style="width: 140px; border-radius: 10px"/>
                </div>
            </div>

            <div
            style="
                background-color: #def7ff;
                padding: 15px;
                margin: 20px 0;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

            "
        >
            <div
                style="
                    flex-basis: 100%;
                    max-width: 150px;
                    margin-right: 20px;
                "
            >
                <img
                    src="https://storage.googleapis.com/softbuilder/homnifi/img/email/welcome_step_3.png"
                    alt="Token Image"
                    style="width: 140px; border-radius: 10px"/>
            </div>
            <div style="flex-grow: 1">
                <p style="margin: 5px 0; font-size: 16px; text-transform: uppercase;">
                    <strong>Explore the Shop</strong>
                </p>

                <p style="margin: 5px 0; font-size: 16px">
                    Our shop offers products engineered to enhance your rewards. Take a tour and find what suits your needs.
                </p>
            </div>
        </div>

                <p style="font-size: 16px">
                    Thank you for choosing Homnifi; 
                </p>
                <p style="font-size: 16px">
                    we can't wait to see where this journey takes you!
                </p>
                <p style="font-size: 16px">
                    Warm regards,<br />The Homnifi Team
                </p>
            </div>
        </div>
    </body>
</html>

{{>footer}}